
.text-white {
	color: white !important;
}

.text-black {
	color: black !important;
}

/* GENERAL */
.hidden {
    visibility: hidden !important;
}

body {
  padding-top: 40px;
  /*padding-bottom: 40px;*/
  /*background-color: #eee;*/
}
.toast {
    opacity: 1 !important;
}

.bikebtns {
	float:right;
	margin: 5px 0px 10px 10px;
}

.inlineh4 {
	display: inline-block;
	margin: 5px 0px 25px 0px;
	padding; 0px;
}

.filterbikes{
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

.filtermembers{
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

.filterfinances{
	display: inline;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

.actbtn {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}

.actbtns {
	float: right;
	margin-right: 20px;
}

.centerbtns {

}

.bikebtns {
	float: right;
	padding-right: 20px;
}


.plabel {
     font-weight: normal !important;
}

#action_kids_table td {
   text-align: center;
}

#action_kids_table th {
   text-align: center;
}


.checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
#action_sendemail {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  display: inline;
}

input[type=number]{
    width: 70px;
}

.outlined {
  border: 2px solid;
	border-color: #eee;
}



* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
text-align: center;
}

.logotext {
    margin:0;
    display: inline-block;
}

/* select 2 does not automatically show has-error */
.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

.div_rightline {
	border-right: 2px solid #ddd;
}

/* to align with bike_status */
#bikestatusdatepicker {
	padding-right: 15px;
	margin-right: 15px;
}
.bikeleft {
	padding-left: 0;
	margin-left: 0;
}

#bikestatusbtn {
	line-height: 1.1em;
}
#bsbdiv {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
